:root {
    --font-family: 'Quicksand', times, Arial, sans-serif;
    --font-thin: 400;
    --font-regular: 500;
    --font-bold: 700;

    --borda-padrao: var(--cor-cinza-claro) solid 1px;

    --cor-primaria: #f55a1c;
    --cor-primaria-clara: #f5442d;
    --cor-primaria-escura: #b41500;

    --cor-cinza-clarissimo: #f7f7f7;
    --cor-cinza-claro: #ddd;
    --cor-cinza-medio: #bebebe;
    --cor-cinza-escuro: #555555;

    --transicao: all 0.3s ease;

    --espacamento: 16px;

    font-family: var(--font-family);
    font-weight: 400;
}


.u--esconder {
    visibility: hidden;
    display: none;
}



.u__icone {
    width: 20px;
}

.u__btn {
    display: inline-block;
    padding: 12px 14px 8px 14px;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: var(--font-regular);
    font-size: 1rem;

    border: 0;
    border-radius: 5px;
    background-color: var(--cor-cinza-claro);

    &:hover {
        filter: brightness(0.95);
        transform: translateY(-3px);
        transition: var(--transicao);
    }

    &:active {
        filter: brightness(0.9);
    }
}


body {
    margin: 0;
}

.app {
    margin: 0 auto;
    padding: var(--espacamento);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: inline;
    margin: 0;
}

.header__titulo {
    font-weight: 100;
    font-size: 1.7rem;
}

.header__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header__li {
    display: inline;
}

.header__link {
    font-family: var(--font-family);
    font-size: 1rem;

    text-decoration: none;
    color: #000;

    /*     border: var(--borda-padrao);
 */
    /*  &:hover {
        background-color: var(--cor-cinza-clarissimo);
    } */
}

.__imagem {
    background-image: url(imagens/ingredientes-fundo.png);
    background-size: auto 100%;
    background-repeat: repeat;

    margin-left: calc(var(--espacamento) * -2);
    margin-right: calc(var(--espacamento) * -1);

    height: 250px;
}

.receita-form__section {
    padding: 12px;
    margin: 0;
    border: var(--borda-padrao);
    background-color: #fff;
}

@media (min-width: 1100px) {
    .receita-form__section {
        width: 1050px;

        margin: 0 auto;
    }
}

.receita-form__titulo-section {
    margin: 0;
}

.receita-form__container {
    display: flex;
    gap: 12px;
}

.receita-form__grupoBtn {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.receita-form__coluna {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.receita-form__input,
.receita-form__textarea {
    width: 100%;
    padding: 12px 14px 8px 14px;

    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-regular);

    background-color: transparent;
    border: var(--borda-padrao);
    border-radius: 5px;

}

.receita-form__textarea {
    resize: vertical;
    min-height: 100px;
    margin: 0;
}

.receita-form__input--tempo {
    width: 90px;
}

.receita-form--invalid {
    border: #f00 solid 1px;
}

.receita-form__label {
    display: inline-block;

    font-size: 0.9rem;
    font-weight: var(--font-regular);
    color: #4b4b4b;

    margin: 0;

}

.receita-form__descritivo--erro,
.receita-form__descritivo--contador {
    font-size: 0.8rem;
    font-weight: var(--font-thin);
}

.receita-form__descritivo--erro {
    display: none;
    color: #f00;
}

.receita-form__selecao {
    padding: 12px 14px 8px 14px;

    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-regular);

    background-color: transparent;
    border: var(--borda-padrao);
    border-radius: 5px;

    width: 150px;

    cursor: pointer;
}

.receita-form__option {
    background-color: #fff;
}



.receita-form__btn--enviar {
    background-color: #b2ff36;
    padding: 12px 36px 8px 36px;
}

.receita-form__grupo-input-h {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}


.receita-form__fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;

    border: none;
    padding: 0;
    margin: 0;
}

/* cb = checkbox */
.receita-form__cb {
    margin: 0 2px 0 0;

    &:checked {
        accent-color: #000;
    }
}

.receita-form__cb-label {
    font-weight: var(--font-regular);
    cursor: pointer;

    /* Para impedir que a checkbox fique distante da label */
    white-space: nowrap;
    margin: 0;
}


.receitas-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 16px;
}

.receita__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #000;

    padding: 24px 16px 0 16px;

    border: var(--borda-padrao);

    &:hover {
        & .receita__titulo {
            font-weight: 900;
            transition: var(--transicao);
        }
    }

}


.receita__lista-categorias {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.receita__categoria {
    display: inline;
    white-space: nowrap;

    font-size: 0.9rem;
    font-weight: var(--font-regular);
    padding: 2px 4px;
    color: var(--cor-cinza-escuro);
    border: var(--borda-padrao);
    margin-right: 2px;

    &:last-of-type {
        margin-right: 0;
    }
}

.receita__titulo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: var(--font-regular);
}



.receita__lista-ingredientes {
    padding-left: 14px;
    margin: 0;
}


.receita__h4 {
    margin: 12px 0 4px 0;
}

.receita__destaques {
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.receita__item {
    display: block;
    margin: auto 0;
}

.receita__tempo::before {
    content: url(imagens/icone-tempo.svg);
    display: inline-block;
    margin-right: 2px;
    width: 20px;

    & {
        fill: #f00;
    }
}

.receita__dificuldade::before {
    content: url(imagens/icone-chef.svg);
    display: inline-block;
    margin-right: 2px;
    width: 20px;
}

.receita__excluir-btn,
.receita__mostrar-btn {
    cursor: pointer;
    border: 0;

}

.receita__excluir-btn {
    background-color: var(--cor-primaria);

    &:hover {
        background-color: var(--cor-primaria-clara);
    }
}

.receita__mostrar-btn {
    background-color: transparent;
    margin-left: -16px;
    margin-right: -16px;

    &:hover {
        padding: 18px;
        transition: var(--transicao);
    }

    &:active {
        background-color: var(--cor-cinza-clarissimo);
    }
}




@media screen and (max-width: 1260px) {
    .receitas-section {
        grid-template-columns: repeat(2, minmax(400px, 560px));
        gap: 16px;

        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 860px) {
    .receitas-section {
        grid-template-columns: 100%;
        gap: 16px;

        width: fit-content;
        margin: 0 auto;
    }

    .receita__container {
        width: 500px;
    }

    .receita-form__container {
        flex-direction: column;
    }

    .u__rows {
        flex-direction: column;
    }
}


@media (max-width: 500px) {
    .receitas-section {
        width: 100%;
        margin: 0;
    }

    .receita__container {
        width: calc(100% - 34px);
    }
}